:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#ffffff;--gray:#6c757d;--gray-dark:#343a40;--primary:#448bff;--secondary:#535c78;--success:#31c971;--info:#14bae4;--warning:#f4c414;--danger:#f54394;--light:#f5f5f6;--dark:#192039;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
		*,::after,::before{box-sizing:border-box;}
		html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(19,24,44,0);}
		body{overflow-y: hidden; margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:.875rem;font-weight:400;line-height:1.4285714286;color:#212529;text-align:left;background-color:#f9f9fa;}
		[tabindex="-1"]:focus{outline:0!important;}
		ul{margin-top:0;margin-bottom:1rem;}
		ul ul{margin-bottom:0;}
		b,strong{font-weight:bolder;}
		small{font-size:80%;}
		a{color:#448bff;text-decoration:none;background-color:transparent;}
		a:hover{color:#005ef7;text-decoration:underline;}
		a:not([href]):not([tabindex]){color:inherit;text-decoration:none;}
		a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none;}
		a:not([href]):not([tabindex]):focus{outline:0;}
		pre{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em;}
		pre{margin-top:0;margin-bottom:1rem;overflow:auto;}
		img{vertical-align:middle;border-style:none;}
		svg{overflow:hidden;vertical-align:middle;}
		label{display:inline-block;margin-bottom:.5rem;}
		button{border-radius:0;}
		button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
		button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
		button,input{overflow:visible;}
		button{text-transform:none;}
		[type=button],button{-webkit-appearance:button;}
		[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
		input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
		small{font-size:80%;font-weight:400;}
		pre{display:block;font-size:87.5%;color:#212529;}
		.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
		.col-12,.col-4{position:relative;width:100%;padding-right:15px;padding-left:15px;}
		.col-4{flex:0 0 33.3333333333%;max-width:33.3333333333%;}
		.col-12{flex:0 0 100%;max-width:100%;}
		.order-1{order:1;}
		.order-2{order:2;}
		@media (min-width:992px){
		.order-lg-1{order:1;}
		.order-lg-2{order:2;}
		}
		.form-control{display:block;width:100%;height:calc(1.4285714286em + .75rem + 2px);padding:.375rem .75rem;font-size:.875rem;font-weight:400;line-height:1.4285714286;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
		@media (prefers-reduced-motion:reduce){
		.form-control{transition:none;}
		}
		.form-control::-ms-expand{background-color:transparent;border:0;}
		.form-control:focus{color:#495057;background-color:#fff;border-color:#c4daff;outline:0;box-shadow:0 0 0 .2rem rgba(68,139,255,.25);}
		.form-control::placeholder{color:#6c757d;opacity:1;}
		.form-control:disabled,.form-control[readonly]{background-color:#e9ecef;opacity:1;}
		.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:.875rem;line-height:1.4285714286;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
		@media (prefers-reduced-motion:reduce){
		.btn{transition:none;}
		}
		.btn:hover{color:#212529;text-decoration:none;}
		.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(68,139,255,.25);}
		.btn:disabled{opacity:.65;}
		.btn-primary{color:#fff;background-color:#448bff;border-color:#448bff;}
		.btn-primary:hover{color:#fff;background-color:#1e73ff;border-color:#116bff;}
		.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(96,156,255,.5);}
		.btn-primary:disabled{color:#fff;background-color:#448bff;border-color:#448bff;}
		.btn-success{color:#fff;background-color:#31c971;border-color:#31c971;}
		.btn-success:hover{color:#fff;background-color:#2aaa60;border-color:#27a05a;}
		.btn-success:focus{box-shadow:0 0 0 .2rem rgba(80,209,134,.5);}
		.btn-success:disabled{color:#fff;background-color:#31c971;border-color:#31c971;}
		.btn-info{color:#fff;background-color:#14bae4;border-color:#14bae4;}
		.btn-info:hover{color:#fff;background-color:#119dc1;border-color:#1094b5;}
		.btn-info:focus{box-shadow:0 0 0 .2rem rgba(55,196,232,.5);}
		.btn-info:disabled{color:#fff;background-color:#14bae4;border-color:#14bae4;}
		.btn-warning{color:#212529;background-color:#f4c414;border-color:#f4c414;}
		.btn-warning:hover{color:#212529;background-color:#d8ac0a;border-color:#cba20a;}
		.btn-warning:focus{box-shadow:0 0 0 .2rem rgba(212,172,23,.5);}
		.btn-warning:disabled{color:#212529;background-color:#f4c414;border-color:#f4c414;}
		.btn-sm{padding:.25rem .5rem;font-size:.825rem;line-height:1.5;border-radius:.2rem;}
		.fade{transition:opacity .15s linear;}
		@media (prefers-reduced-motion:reduce){
		.fade{transition:none;}
		}
		.fade:not(.show){opacity:0;}
		.collapse:not(.show){display:none;}
		.dropdown{position:relative;}
		.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:.875rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(19,24,44,.15);border-radius:.25rem;}
		.dropdown-menu-right{right:0;left:auto;}
		.dropdown-divider{height:0;margin:.5rem 0;overflow:hidden;border-top:1px solid #e9ecef;}
		.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
		.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa;}
		.dropdown-item:active{color:#fff;text-decoration:none;background-color:#448bff;}
		.dropdown-item:disabled{color:#6c757d;pointer-events:none;background-color:transparent;}
		.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
		.input-group>.form-control{position:relative;flex:1 1 auto;width:1%;margin-bottom:0;}
		.input-group>.form-control:focus{z-index:3;}
		.input-group>.form-control:not(:last-child){border-top-right-radius:0;border-bottom-right-radius:0;}
		.input-group-append,.input-group-prepend{display:flex;}
		.input-group-append .btn,.input-group-prepend .btn{position:relative;z-index:2;}
		.input-group-append .btn:focus,.input-group-prepend .btn:focus{z-index:3;}
		.input-group-prepend{margin-right:-1px;}
		.input-group-append{margin-left:-1px;}
		.input-group>.input-group-prepend>.btn{border-top-right-radius:0;border-bottom-right-radius:0;}
		.input-group>.input-group-append>.btn{border-top-left-radius:0;border-bottom-left-radius:0;}
		.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
		.nav-link{display:block;padding:.5rem 1rem;}
		.nav-link:focus,.nav-link:hover{text-decoration:none;}
		.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:.5rem 1rem;}
		.navbar-brand{display:inline-block;margin-right:1rem;font-size:2.5rem;line-height:inherit;white-space:nowrap;}
		.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
		.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
		@media (min-width:992px){
		.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start;}
		.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
		}
		.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(19,24,44,.125);border-radius:.25rem;}
		.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.15rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
		@media (prefers-reduced-motion:reduce){
		.badge{transition:none;}
		}
		.badge:empty{display:none;}
		.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem;}
		.progress{display:flex;height:1rem;overflow:hidden;font-size:.65625rem;background-color:#e9ecef;border-radius:.25rem;}
		.progress-bar{display:flex;flex-direction:column;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#448bff;transition:width .6s ease;}
		@media (prefers-reduced-motion:reduce){
		.progress-bar{transition:none;}
		}
		.media{display:flex;align-items:flex-start;}
		.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none;}
		@media (min-width:576px){
		.modal-dialog{max-width:500px;margin:1.75rem auto;}
		}
		.bg-primary{background-color:#448bff!important;}
		a.bg-primary:focus,a.bg-primary:hover{background-color:#116bff!important;}
		.bg-success{background-color:#31c971!important;}
		.bg-light{background-color:#f5f5f6!important;}
		.bg-dark{background-color:#192039!important;}
		.rounded{border-radius:.25rem!important;}
		.d-none{display:none!important;}
		.d-inline{display:inline!important;}
		.d-block{display:block!important;}
		.d-flex{display:flex!important;}
		@media (min-width:576px){
		.d-sm-block{display:block!important;}
		}
		@media (min-width:768px){
		.d-md-none{display:none!important;}
		}
		@media (min-width:992px){
		.d-lg-none{display:none!important;}
		}
		.flex-column{flex-direction:column!important;}
		.flex-wrap{flex-wrap:wrap!important;}
		.flex-nowrap{flex-wrap:nowrap!important;}
		.align-items-center{align-items:center!important;}
		.h-100{height:100%!important;}
		.m-0{margin:0!important;}
		.my-1{margin-top:.25rem!important;}
		.mx-1{margin-right:.25rem!important;}
		.mb-1,.my-1{margin-bottom:.25rem!important;}
		.mx-1{margin-left:.25rem!important;}
		.m-2{margin:.5rem!important;}
		.mx-2{margin-right:.5rem!important;}
		.mb-2{margin-bottom:.5rem!important;}
		.mx-2{margin-left:.5rem!important;}
		.mt-3,.my-3{margin-top:1rem!important;}
		.mb-3,.my-3{margin-bottom:1rem!important;}
		.p-0{padding:0!important;}
		.px-0{padding-right:0!important;}
		.px-0{padding-left:0!important;}
		.px-1{padding-right:.25rem!important;}
		.px-1{padding-left:.25rem!important;}
		.p-2{padding:.5rem!important;}
		.py-2{padding-top:.5rem!important;}
		.px-2{padding-right:.5rem!important;}
		.py-2{padding-bottom:.5rem!important;}
		.px-2{padding-left:.5rem!important;}
		.p-3{padding:1rem!important;}
		.px-3{padding-right:1rem!important;}
		.px-3{padding-left:1rem!important;}
		.p-4{padding:1.5rem!important;}
		.mt-auto{margin-top:auto!important;}
		@media (min-width:768px){
		.mb-md-3{margin-bottom:1rem!important;}
		.pr-md-3{padding-right:1rem!important;}
		}
		@media (min-width:992px){
		.my-lg-0{margin-top:0!important;}
		.my-lg-0{margin-bottom:0!important;}
		.mr-lg-2{margin-right:.5rem!important;}
		}
		.text-center{text-align:center!important;}
		.text-uppercase{text-transform:uppercase!important;}
		.text-primary{color:#448bff!important;}
		.text-success{color:#31c971!important;}
		.text-info{color:#14bae4!important;}
		.text-warning{color:#f4c414!important;}
		.text-danger{color:#f54394!important;}
		.text-muted{color:#99a0ac!important;}
		@media print{
		*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
		a:not(.btn){text-decoration:underline;}
		pre{white-space:pre-wrap!important;}
		pre{border:1px solid #adb5bd;page-break-inside:avoid;}
		img{page-break-inside:avoid;}
		body{min-width:992px!important;}
		.navbar{display:none;}
		.badge{border:1px solid #13182c;}
		}
		html{background:#f9f9fa;}
		body{width:100%;min-height:100vh;color:#5e676f;background:inherit;}
		:focus{outline:0!important;}
		a{text-decoration:none;cursor:pointer;outline:0;}
		a:focus,a:hover{text-decoration:none;}
		button{color:inherit;}
		pre{color:#5e676f;background-color:#f5f5f6;border-color:rgba(160,175,185,.15);}
		small{font-size:.825rem;}
		b,strong{font-weight:500;}
		.badge-up{padding:0 .25rem;position:absolute;right:0;transform:translate(0,-50%);background-clip:padding-box;min-width:1rem;min-height:1rem;line-height:1rem;}
		.badge-circle{padding:0!important;width:.625rem;height:.625rem;border:2px solid;border-radius:50%;}
		.badge-circle:empty{display:inline-block;}
		.badge-circle.xs{width:0;height:0;border-width:3px;vertical-align:2px;}
		.btn{font-weight:500;display:-ms-inline-flex;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
		.btn:active,.btn:hover{box-shadow:0 1px 3px 0 rgba(0,0,0,.1);}
		.btn-md{padding:.75rem 1.25rem;}
		.btn-xs{font-size:.75rem;padding:.125rem .5rem;}
		.btn-white{color:#5e676f;background-color:#fff;border-color:transparent;box-shadow:0 1px 2px rgba(0,0,0,.05);}
		.btn-rounded{border-radius:4rem;padding-left:1rem;padding-right:1rem;}
		.btn-icon{width:2.125rem;height:2.125rem;padding:0!important;}
		.btn-icon.btn-sm{width:1.875rem;height:1.875rem;}
		.btn-icon.btn-md{width:2.5rem;height:2.5rem;}
		.block,.card{background:#fff;border-width:0;border-radius:.25rem;box-shadow:0 1px 3px rgba(0,0,0,.05);margin-bottom:1.5rem;}
		.dropdown-menu{border-radius:3px;border-color:rgba(160,175,185,.15);box-shadow:0 1px 3px rgba(0,0,0,.05);color:#5e676f;}
		.dropdown-menu-center{left:50%;transform:translateX(-50%);}
		.dropdown-item{color:inherit;}
		.dropdown-item{color:inherit;}
		.dropdown-item:focus,.dropdown-item:hover{color:inherit;background-color:rgba(135,150,165,.1);}
		.dropdown-divider{border-color:rgba(160,175,185,.15);}
		.form-control{border-color:rgba(135,150,165,.15);border-width:1px;border-radius:.25rem;color:inherit;}
		.form-control:focus{color:inherit;box-shadow:0 0 0 .2rem rgba(68,139,255,.25);}
		.form-control:not(.is-valid):not(.is-invalid):focus{border-color:#448bff;}
		.form-control::-webkit-input-placeholder{color:inherit;opacity:.3;}
		.form-control::-moz-placeholder{color:inherit;opacity:.3;}
		.form-control:-ms-input-placeholder{color:inherit;opacity:.3;}
		.modal-dialog>*{pointer-events:auto;}
		.nav{border:inherit;}
		.nav-item{position:relative;border:inherit;}
		.nav-link{color:inherit;border:inherit;position:relative;}
		.navbar{min-height:3.75rem;padding:.75rem 1rem;display:-ms-flexbox;display:flex;}
		.navbar .dropdown-menu-right{left:auto;right:0;}
		.navbar svg{vertical-align:middle;}
		.navbar .nav-link{color:inherit;white-space:nowrap;}
		.navbar .dropdown-menu{margin-top:0;}
		.toolbar{-ms-flex-negative:0;flex-shrink:0;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;margin:0 -.25rem;}
		.toolbar>*{margin:0 .25rem;}
		.navbar-brand{font-size:1.125rem;line-height:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;}
		.navbar-brand>span{margin:0 .5rem;font-weight:600;}
		.navbar-brand svg{max-height:2.5rem;vertical-align:middle;font-weight:600;}
		.navbar-menu{-ms-flex-direction:row;flex-direction:row;margin-left:auto;-ms-align-items:center;align-items:center;}
		.progress{border-radius:.25rem;overflow:visible;background-color:rgba(135,150,165,.1);}
		.progress-bar{height:100%;text-align:center;font-size:.8em;border-radius:.25rem;-webkit-transition:width .6s ease;transition:width .6s ease;}
		.row-xs{margin-left:-.25rem;margin-right:-.25rem;}
		.row-xs [class*=col-]{padding-left:.25rem;padding-right:.25rem;}
		.animate{animation-fill-mode:both;animation-duration:.5s;}
		.fadeIn{animation-name:fadeIn;}
		.aside{opacity:1!important;display:-ms-flexbox!important;display:flex!important;position:relative;z-index:1000;}
		.aside>*{transition:transform .4s cubic-bezier(.25,.8,.25,1);}
		.aside>.modal-dialog{margin:0;max-width:inherit;pointer-events:inherit;}
		@media (max-width:767.98px){
		.aside-sm{display:none;opacity:0;background:0 0!important;position:fixed!important;z-index:1050!important;}
		.aside-sm>*{position:fixed;top:0;bottom:0;left:0;max-width:280px!important;transform:translate3d(-100%,0,0);}
		.aside-sm~*{width:100%;}
		}
		.avatar{position:relative;line-height:1;border-radius:500px;white-space:nowrap;font-weight:700;border-radius:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;-ms-flex-negative:0;flex-shrink:0;border-radius:500px;box-shadow:0 5px 10px 0 rgba(50,50,50,.15);}
		.avatar img{border-radius:inherit;width:100%;}
		.avatar-status{display:inline-block;width:10px;height:10px;margin:1px;border-width:2px;border-style:solid;border-radius:100%;border-color:#fff;background-color:#fff;}
		.avatar-status.on{background-color:#31c971;}
		.avatar-status.off{background-color:#f5f5f6;}
		.avatar-group{display:-ms-flex;display:flex;-ms-align-items:center;align-items:center;}
		.avatar-group .avatar{position:relative;}
		.avatar-group .avatar+.avatar{margin-left:-.5rem;}
		.avatar-group .avatar:active,.avatar-group .avatar:hover{z-index:1;}
		.chat-item{display:-ms-flexbox;display:flex;margin-bottom:1.5rem;}
		.chat-item>*{margin-left:.5rem;margin-right:.5rem;}
		[data-class=alt].chat-item{-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
		[data-class=alt].chat-item .chat-body{-ms-flex-align:end;align-items:flex-end;}
		[data-class=alt].chat-item .chat-date{text-align:right;}
		.chat-body{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:start;align-items:flex-start;}
		.chat-content{display:-ms-inline-flexbox;display:inline-flex;padding:.75rem 1rem;margin-bottom:.25rem;}
		.chat-date{opacity:.5;font-size:.8em;display:block;}
		.ui-check{position:relative;cursor:pointer;}
		.ui-check input{opacity:0;position:absolute;z-index:-1;}
		.ui-check input:checked+i{background-color:#448bff;box-shadow:none;}
		.ui-check input:checked+i:before{left:50%;top:50%;transform:translate(-50%,-50%) rotate(-45deg);width:6px;height:6px;background-color:#fff;}
		.ui-check input[type=radio]+i,.ui-check input[type=radio]+i:before{border-radius:50%;}
		.ui-check input[type=checkbox]:checked+i:before{transform:translate(-50%,-65%) rotate(-45deg);background-color:transparent;width:8px;height:5px;border-width:0 0 2px 2px;border-color:#fff;border-style:solid;}
		.ui-check>i{width:14px;height:14px;line-height:1;box-shadow:0 0 0 1px rgba(135,150,165,.35);border-radius:4px;display:inline-block;vertical-align:middle;background-clip:padding-box;position:relative;left:0;margin-right:.3rem;}
		.ui-check>i:before{content:"";position:absolute;left:50%;top:50%;width:0;height:0;background-color:transparent;border-radius:1px;}
		.ui-check.ui-check-color i{box-shadow:none;}
		.ui-check.ui-check-color input:checked+i:before{background-color:#fff;}
		.ui-check.ui-check-rounded>i{border-radius:50%;}
		.ui-check-md input:checked+i:before{width:8px;height:8px;}
		.ui-check-md>i{width:20px;height:20px;}
		.bg-primary{color:#fff!important;}
		.bg-primary-lt{color:#116bff!important;background-color:#e1ecff!important;}
		.bg-primary-lt:focus,.bg-primary-lt:hover{color:#fff!important;background-color:#448bff!important;}
		.bg-primary--lt{color:#5e676f!important;background-color:#e1ecff!important;}
		.gd-primary{color:#fff;border:none;background:#448bff linear-gradient(45deg,#448bff,#44e9ff);}
		.nav-active-text-primary .nav>li.active>a{color:#448bff!important;}
		.bg-success{color:#fff!important;}
		.gd-success{color:#fff;border:none;background:#31c971 linear-gradient(45deg,#31c971,#3dc931);}
		.bg-info-lt{color:#1094b5!important;background-color:#d9f4fb!important;}
		.bg-info-lt:focus,.bg-info-lt:hover{color:#fff!important;background-color:#14bae4!important;}
		.gd-info{color:#fff;border:none;background:#14bae4 linear-gradient(45deg,#14bae4,#14e4a6);}
		.bg-warning-lt{color:#cba20a!important;background-color:#fdf6d9!important;}
		.bg-warning-lt:focus,.bg-warning-lt:hover{color:#fff!important;background-color:#f4c414!important;}
		.gd-warning{color:#fff;border:none;background:#f4c414 linear-gradient(45deg,#f4c414,#f45414);}
		.bg-danger-lt{color:#f21378!important;background-color:#fde1ee!important;}
		.bg-danger-lt:focus,.bg-danger-lt:hover{color:#fff!important;background-color:#f54394!important;}
		.gd-danger{color:#fff;border:none;background:#f54394 linear-gradient(45deg,#f54394,#f543ed);}
		.bg-light{color:#212529!important;}
		.bg-dark{color:#fff!important;}
		.bg-light{color:inherit!important;background-color:#f5f5f6;}
		.bg-dark{color:#b9c0d3!important;}
		.bg-body{background-color:#f9f9fa;}
		.no-bg{background:0 0!important;}
		.layout-column,.layout-row{display:-ms-flexbox;display:flex;}
		.layout-row{-ms-flex-direction:row;flex-direction:row;}
		.layout-row>.flex{min-width:0;}
		.layout-column{-ms-flex-direction:column;flex-direction:column;}
		.layout-column>.flex{min-height:0;}
		.flex{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;}
		.no-shrink{-ms-flex-negative:0;flex-shrink:0;}
		.page-header{z-index:1035!important;transition:background-color .2s cubic-bezier(.25,.8,.25,1);}
		.page-header~* .fixed-content{top:3.75rem;height:calc(100vh - 3.75rem);}
		.page-sidenav{position:relative;z-index:1030!important;min-width:13.5rem;opacity:1!important;}
		.page-sidenav.sticky{height:100vh;}
		.sticky{position:-webkit-sticky;position:sticky;top:0;z-index:1020;}
		@media (min-width:992px){
		.page-sidenav{display:block!important;}
		}
		@media (max-width:991.98px){
		body.layout-row{-ms-flex-direction:column;flex-direction:column;}
		.page-sidenav{width:100%!important;height:100%!important;top:0!important;position:fixed;z-index:1050!important;display:none;opactiy:0;}
		.page-sidenav{background:0 0!important;}
		.page-sidenav>*{position:fixed;height:100%;transition:.2s cubic-bezier(.25,.8,.25,1);transform:translate3d(-100%,0,0);width:17.5rem;}
		}
		@media print{
		.page-header,.page-sidenav{display:none!important;}
		}
		.list{padding-left:0;padding-right:0;}
		.list-item{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;}
		.list-row .list-item{-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center;padding:.75rem .625rem;margin:5px;}
		.list-row .list-item>*{padding-left:.625rem;padding-right:.625rem;}
		.media{position:relative;display:block;padding:0;-ms-flex-negative:0;flex-shrink:0;border-radius:inherit;}
		.media:after{content:'';display:block;padding-top:100%;}
		.media-action{position:absolute;z-index:3;left:50%;top:50%;transform:translate(-50%,-50%);opacity:0;pointer-events:none;transition:opacity .3s;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
		.media-action.active{opacity:1;}
		.media:active .media-action,.media:hover .media-action{opacity:1;pointer-events:initial;}
		.media-content{position:absolute;top:0;bottom:0;left:0;right:0;border:0;border-radius:inherit;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;background-color:rgba(120,120,120,.1);display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
		.media-content:before{content:'';position:absolute;height:10%;width:90%;left:5%;bottom:0;background:inherit;background-position-y:100%;filter:blur(10px);}
		.media-4x3:after{padding-top:75%;}
		.media-2x1:after{padding-top:50%;}
		.sidenav{margin:0;pointer-events:inherit;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;}
		.sidenav ul{padding-left:0;padding-right:0;list-style:none;}
		.sidenav ul a{color:inherit;}
		.sidenav .nav{border:inherit;display:block;}
		.sidenav .nav li{border:inherit;position:relative;}
		.sidenav .nav li li a{font-size:.8rem;line-height:2rem;padding-left:3rem;}
		.sidenav .nav li li a .nav-text{padding:.4375rem 0;}
		.sidenav .nav li>a{display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;padding:0 .5rem;line-height:2.5rem;position:relative;}
		.sidenav .nav li.active>a{background-color:transparent;}
		.sidenav .nav-header{padding:1rem 1rem .5rem 1rem;font-size:85%;}
		.sidenav .nav-header:after{display:none;}
		.sidenav .navbar-brand{float:none;margin-right:0;}
		.sidenav .flex{overflow:auto;-webkit-overflow-scrolling:touch;}
		.nav-text{margin:0 .5rem;-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;line-height:1.125rem;transition:opacity .15s ease-in-out;padding:.6875rem 0;}
		.nav-icon{font-size:1rem;width:2.5rem;height:2.5rem;border-radius:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;-ms-flex-negative:0;flex-shrink:0;opacity:.65;}
		.active>a>.nav-icon,a:active>.nav-icon,a:hover>.nav-icon{opacity:1;}
		.nav-badge{font-style:normal;z-index:1;margin:0 .5rem;}
		.nav-caret{width:1rem;opacity:.45;position:relative;}
		.nav-caret:after{content:'';width:5px;height:5px;display:inline-block;border-width:1px;border-style:solid;border-color:transparent currentColor currentColor transparent;transform:rotate(-45deg);margin-bottom:1px;}
		.nav-sub{max-height:0;overflow:hidden;transition:max-height .4s ease 0s;}
		@media (prefers-reduced-motion:reduce){
		.nav-sub{transition:none;}
		}
		.box-shadows{box-shadow:0 10px 25px 0 rgba(50,50,50,.15);}
		.hide{display:none!important;}
		.circle{border-radius:500px;}
		.no-shadow{-webkit-box-shadow:none!important;box-shadow:none!important;}
		.no-border{border-color:transparent!important;border-width:0!important;}
		.b-t{border-top:1px solid rgba(160,175,185,.15);}
		.b-b{border-bottom:1px solid rgba(160,175,185,.15);}
		.r{border-radius:3px;}
		.scrollable{overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
		.scrollable.hover{overflow-y:hidden;}
		.scrollable.hover>*{margin-top:-1px;}
		.scrollable.hover:active,.scrollable.hover:focus,.scrollable.hover:hover{overflow:visible;overflow-y:auto;}
		.text-primary{color:#448bff!important;}
		.text-success{color:#31c971!important;}
		.text-info{color:#14bae4!important;}
		.text-warning{color:#f4c414!important;}
		.text-danger{color:#f54394!important;}
		.text-color{color:#5e676f;}
		.text-inherit{color:inherit;}
		.text-fade{opacity:.65;}
		.text-sm{font-size:.825rem;}
		.text-md{font-size:1.25rem;}
		.l-s-n-1x{letter-spacing:-1px;}
		.h-1x{height:1.25rem;overflow:hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
		.h-2x{max-height:2.5rem;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
		.text-ellipsis{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
		.w-24{width:24px!important;height:24px!important;font-size:.7em;}
		.w-32{width:32px!important;height:32px!important;font-size:.85em;}
		.w-40{width:40px!important;height:40px!important;}
		.w{width:190px;}
		.w-md{width:240px;}
		.w-xl{width:320px;}
		/*! CSS Used keyframes */
		@keyframes fadeIn{from{opacity:0;}to{opacity:1;}}

::-webkit-scrollbar {
	width:6px;
}

	/*scrollbar Track */
::-webkit-scrollbar-track{
	background:#f9f9fa; 
	
}
	
	/*scrollbar Thumb Handle */
::-webkit-scrollbar-thumb{
	background: #e9e9e9;
	border-radius:10px;      
}

	/*scrollbar Thumb Handle on hover */
::-webkit-scrollbar-thumb:hover{
	background: #ccc; 
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #13182c;
	opacity: .5;
}

.areplacement{
    border: none;
    background-color: transparent;
    border-radius: 25px;
    padding: 2px 5px 2px 5px;
}

.friendprofileimage{
	padding: 0;
	margin-left: 0px;
	z-index: 0 !important;
}

.friendloginstatus{
	/* margin-left: -18px;
    margin-bottom: -12px;
    z-index: 1 !important; */
	margin-left: -20px;
    margin-bottom: -25px;
    z-index: 1 !important;
}

.activechat{
	background-color: #f5f5f6;
	margin: 5px;
}

.emptyChat{
	height: 40px;
    padding: 10px 0px 10px 0px !important;
    margin: 0 !important;
}

.profileName{
	display: block;
    width: 100%;
    padding: .5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #f3f4f6;
    border: 0;
}
.w-64 {
    width: 64px !important;
    height: 64px !important;
	margin-left: auto;
    margin-right: auto;
}

.w-60
{
	width: 60px !important;
    height: 60px !important;
	font-size: 6vh;
}

/* .status-message{
	margin-bottom: 15px;
	margin-top: -15px;
} */

.b-b {
    border-bottom: 1px solid rgba(160, 175, 185, 0.15);
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.nav-tabs {
    border-bottom-width: 0;
    position: relative;
    z-index: 1;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: rgba(160, 175, 185, 0.15);
    border-bottom-color: transparent;
	color: inherit;
}

.nav-link.active{
	color: #ffffff !important;
    background-color: #31c971;
}

.btn-raised:not([disabled]):active, .btn-raised:not([disabled]):focus, .btn-raised:not([disabled]):hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%);
    transform: translate3d(0,-1px,0);
}

.btn:active, .btn:hover {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}
.btn:hover {
    color: #fff;
    text-decoration: none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.blue {
    background-color: #2196f3;
    color: #fff;
}
.w-xs {
    width: 90px;
}

.btnmenu, .btnmenu:hover {
	background-color: #fff;
    color: #000;
}

.green, .green:hover {
    background-color: #4caf50;
    color: #fff;
}

.red, .red:hover {
    background-color: #f44336;
    color: #fff;
}

.status-box{
	border-color: rgba(135,150,165,.15);
    border-width: 1px;
    border-radius: .25rem;
    color: inherit;
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
}
.status-box-holder{
	margin: 0px auto;max-width: 350px;display: flow-root;
}
.status-box .input-group{
	border: 1px solid;
	border-color: #448bff;
	box-shadow: 0 0 0 0.2rem rgb(68 139 255 / 25%);
    border-width: 1px;
    border-radius: 25px;
    color: #5e676f;
}
/* .status-box .input-group:active{
	border-color: #448bff;
	box-shadow: 0 0 0 0.2rem rgb(68 139 255 / 25%);
} */

.status-box .p-3{
	border: 0px;
	border-radius: 25px;

	position: relative;
    flex: 1 1 auto;
    margin-bottom: 0;
	display: block;
    /* width: 100%; */
    height: calc(1.4285714286em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}